* {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  background-color: #0052d0 !important;
  color: white !important;
}

/* =====================================
  IBM Plex Sans Fonts
  Performance Optimized
==================================== */

/* Regular - 400 */
@font-face {
  font-family: IBM;
  src: url("./fonts/IBMPlexSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* SemiBold - 600 */
@font-face {
  font-family: IBM;
  src: url("./fonts/IBMPlexSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold - 700 */
@font-face {
  font-family: IBM;
  src: url("./fonts/IBMPlexSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
